<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fdc0b0">  <td>21/01/02 10:10:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testCases.a.testA1()">testA1</td> 
  <td>main@1843368112</td>   <td></td> </tr>
<tr bgcolor="fdc0b0">  <td>21/01/02 10:10:57</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testCases.a.testA2()">testA2</td> 
  <td>main@1843368112</td>   <td></td> </tr>
<tr bgcolor="fdc0b0">  <td>21/01/02 10:10:57</td>   <td>29</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testCases.a.testA3()">testA3</td> 
  <td>main@1843368112</td>   <td></td> </tr>
</table>
