<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>testSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e88b9c">  <td>20/12/31 16:39:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testCases.a.ddf1()">ddf1</td> 
  <td>TestNG@1661794690</td>   <td></td> </tr>
<tr bgcolor="d86b78">  <td>20/12/31 16:39:00</td>   <td>-16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testCases.b.df()">df</td> 
  <td>TestNG@1661794690</td>   <td></td> </tr>
<tr bgcolor="d86b78">  <td>20/12/31 16:39:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testCases.b.df1()">df1</td> 
  <td>TestNG@1661794690</td>   <td></td> </tr>
<tr bgcolor="e88b9c">  <td>20/12/31 16:39:00</td>   <td>-31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testCases.a.ef()">ef</td> 
  <td>TestNG@1661794690</td>   <td></td> </tr>
<tr bgcolor="d86b78">  <td>20/12/31 16:39:00</td>   <td>-16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testCases.b.f()">f</td> 
  <td>TestNG@1661794690</td>   <td></td> </tr>
<tr bgcolor="e88b9c">  <td>20/12/31 16:39:00</td>   <td>-16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testCases.a.sdf()">sdf</td> 
  <td>TestNG@1661794690</td>   <td></td> </tr>
</table>
