<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="886778">  <td>21/02/03 16:33:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="a.testA1()[pri:1, instance:testCases.a@2a17b7b6]">testA1</td> 
  <td>main@445288316</td>   <td></td> </tr>
<tr bgcolor="886778">  <td>21/02/03 16:33:12</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="a.testA2()[pri:2, instance:testCases.a@2a17b7b6]">testA2</td> 
  <td>main@445288316</td>   <td></td> </tr>
<tr bgcolor="886778">  <td>21/02/03 16:33:12</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="a.testA3()[pri:3, instance:testCases.a@2a17b7b6]">testA3</td> 
  <td>main@445288316</td>   <td></td> </tr>
</table>
